@charset "UTF-8";
html * {
  margin: 0;
  background-color: #F6FFDE;
  
}
.st {
   position: absolute;top: 50%;left: 50%;margin:-150px 0 0 -150px
    
}
.background{
    background-color: #E3F2C1;
    padding: 10px;
    text-align: center;
    
    }
h1 {
    text-align: center;
    background-color: #E3F2C1;
    padding: 10px;
    position: 20;
}    
p{
    position: 50;
    padding: 30px;
    text-align: center;
    
}   

.title{
    text-align: left; 
    
}
main {
  position: fixed;
  top: 0;
  padding: 0;
  height: 2rem;
  min-height: 1.5rem;
  width: 100%;
  z-index: 1;
  font-weight: bold;

}

nav ul {
  text-align: center;
  list-style: none;
  padding: 10px
  
  
}

nav li {
   display: inline-block;
  float: center;  
  margin-right: 20px;
  padding: 10px
  
}

img:hover {
    -ms-transform: rotate(20deg); /* IE 9 이미지 위에 마우스 올라갔으면 회전시키겠다*/
    -moz-transform: rotate(20deg); /* Firefox */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20degree); /* Standard syntax */
}
img {
    display: block; 
    margin: 0px auto;
    padding: 10px;
}

.img1 {
    vertical-align:text-top
}
.img2 {
    vertical-align:middle;
}
.img1 {
    vertical-align:text-bottom;
}


